<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>T-Social Med</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap" rel="stylesheet">

    <!-- Core theme CSS (includes Bootstrap) iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Estilos-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/estilo_template.css' %}" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'core/css/estilo_web.css' %}?v={{var1}}" />



</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container-fluid">
            <a href="/">
                <img href="/" src="{% static 'core/img/logo.png' %}" class="img-fluid img_logo" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav link-nav">
                    <li class="nav-item"><a class="nav-link me-lg-3" href="/">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="/docentes/">Docentes</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Oferta formativa</a>
                        <ul class="dropdown-menu sub_menu">
                            <li><a class="dropdown-item" href="/cursos/">Cursos</a></li>
                            <li><a class="dropdown-item" href="/talleres/">Talleres On-line</a></li>
                            <li><a class="dropdown-item" href="/prevencion/">Prevención</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="/contacto/">Contacto</a></li>

                    <!-- Barra de búsqueda-->
                    <li class="nav-item">
                        <div class="bg-light rounded rounded-pill shadow-sm barra_busqueda">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button id="button-addon2" type="submit" class="btn btn-link color_lupa">
                                        <i class="fa fa-search"></i></button>
                                </div>
                                <input type="search" placeholder="Buscar" aria-describedby="button-addon2"
                                    class="form-control border-0 bg-light">
                            </div>
                        </div>
                    </li>
                    <!-- Fin barra de búsqueda-->

                </ul>
            </div>
            <!-- Botón inicio de sesion-->
            <div class="user-button">
                {% if user.is_authenticated %}
                <!-- Menú desplegable para usuarios autenticados -->
                <div class="dropdown">
                    <button class="rounded-button orange-button dropdown-toggle" type="button" id="userDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ user.profile_pic.url }}" class="img_usuario" style="color: #fff; font-size: 30px;"
                            loading="lazy">
                        <span class="text-inicio-sesion">{{ user.first_name }}</span>
                    </button>
                    <ul class="dropdown-menu mask-custom" aria-labelledby="userDropdown">

                        <li><a class="dropdown-item nav-link-2" href="{% url 'users:perfil_usuario' %}">Perfil de
                                usuario</a></li>
                        <li><a class="dropdown-item nav-link-2" href="{% url 'users:logout' %}">Cerrar Sesión</a></li>
                    </ul>
                </div>
                {% else %}
                <!-- Botón de inicio de sesión para usuarios no autenticados -->
                <a href="{% url 'users:inicio_sesion' %}" class="user-button2">
                    <button class="rounded-button orange-button">
                        <i class="fas fa-circle-user user-icon"></i>
                        <p class="text-inicio-sesion">Iniciar Sesión</p>
                    </button>
                </a>
                {% endif %}
            </div>
            <!-- Fin botón inicio de sesion-->
        </div>
    </nav>
    <!-- Fin Nav Bar-->

    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role='alert'>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <!-- Inicio Contenido-->
    <section>


        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role='alert'>
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}


        {% block contenido%}{% endblock %}
    </section>
    <!-- Fin Contenido-->


    <!-- Footer-->
    <footer class="text-center py-4">
        <div class="container px-5">
            <div class="text-white-50 small">
                <div class="mb-2 texto_footer">&copy; T-Social Med 2023. Todos los derechos reservados.</div>
                <a target="_blank" href="https://www.instagram.com/tsocialmed/">
                    <img class="img_rrss" src="{% static 'core/img/instagram.png' %}"></a>
                <span class="mx-1">&middot;</span>
                <a target="_blank" href="https://es.linkedin.com/company/social-med">
                    <img class="img_rrss" src="{% static 'core/img/linkedin.png' %}"></a>
                <span class="mx-1">&middot;</span>
                <img class="img_rrss" src="{% static 'core/img/email.png' %}">
                <span class="mx-1 texto_footer">&middot;</span>
                <img class="img_rrss" src="{% static 'core/img/phone.png' %}">
            </div>
        </div>
    </footer>
    <!-- jquery-3.7.1-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- sweetalert JS-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>

    <!-- general JS-->
    <script src="{% static 'core/js/general.js' %}"></script>
    <!-- Core theme JS
    <script src="js/scripts.js"></script>-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->


</body>

</html>