{% extends 'core/base.html' %}
{% load static %}
{% block contenido%}

<div class="container  " style="margin-top:60px;">
    <div class="row">
        <div class="col-md-2 col-12"></div>
        <div class="col-md-3 col-xs-12 form-group">

            <div class="cont_uno float2">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="">
                            <img id="img_perfil" class="foto_perfil" src="{% static 'core/img/usuario.png' %}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="file" name="input_img" id="input_img" class="input-file">
                            <label for="input_img" class="btn btn-tertiary js-labelFile">
                                <i class="icon fa fa-check"></i>
                                <span class="js-fileName">Subir foto</span>
                            </label>
                        </div>
                        <div class="">
                            <input id="input_img" type="file" class="btn_upload">
                        </div>
                    </div>
                </div>
                <div class="row mt-auto p-b-10">
                    <div class="col-sm-12">

                        <div class="cont_boton">
                            <button type="submit" id="btn_eliminar_cuenta"><i
                                    class="fa-solid fa-trash-can mr-2"></i>Eliminar
                                cuenta</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class=" col-md-5 col-12 form-group">

            <div class="cont_dos">

                <div class="row">
                    <div class="col-sm-12">

                        <div class="cont_titulo">
                            <span>PERFIL DE USUARIO</span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row m-t-40">
                        <div class="col-sm-3 "></div>
                        <div class="col-sm-9 form-group">
                            <span class="txt_subtitulo">Información básica</span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3 col-xs-2 text-center2">
                            <div class=""><span class="txt_perfil">Nombre</span></div>
                        </div>
                        <div class="col-sm-9 col-xs-10">
                            <input type="text" class="txt_box_perfil" required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-3 col-xs-2 text-center2">
                            <div class=""><span class="txt_perfil">Apellido</span></div>
                        </div>
                        <div class="col-sm-9 col-xs-10">
                            <input type="text" class="txt_box_perfil" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3 col-xs-2 text-center2">
                            <div class=""><span class="txt_perfil">Correo</span></div>
                        </div>
                        <div class="col-sm-9 col-xs-10">
                            <input type="text" class="txt_box_perfil" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3 col-xs-2 text-center2">
                            <div class=""><span class="txt_perfil">Contacto</span></div>
                        </div>
                        <div class="col-sm-9 col-xs-10">
                            <input type="text" class="txt_box_perfil" required>
                        </div>
                    </div>
                    <div style="margin-bottom:30px;"></div>

                </div>



            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="contenedor_perfil">

    <div class="cont_uno">


        <div class="">
            <img id="img_perfil" class="foto_perfil" src="{% static 'core/img/usuario.png' %}">
        </div>
        <div class="">
            <input id="input_img" type="file" class="btn_upload">
        </div>
        <script src="{% static 'core/js/rendered-js.js' %}"></script>

        <div class="cont_boton">
            <button type="submit" id="btn_eliminar_cuenta"><i class="fa-solid fa-trash-can mr-2"></i>Eliminar
                cuenta</button>
        </div>


    </div>
    <div class="cont_dos">
        <div class="cont_titulo">
            <span>PERFIL DE USUARIO</span>
        </div>
        <table class="table table-borderless cont_datos">
            <tbody>
                <tr class="cont_subtitulo">
                    <td class="border-0"></td>
                    <td class="border-0"><span class="txt_subtitulo">Información básica</span></td>
                </tr>
                <tr class="cont_campos border-0">
                    <td class="cont_identificador border-0"><span class="txt_perfil">Nombre</span></td>
                    <td class="border-0 cont_input"><input type="text" class="txt_box_perfil" required></td>
                </tr>
                <tr class="cont_campos">
                    <td class="cont_identificador border-0"><span class="txt_perfil">Apellido</span></td>
                    <td class="border-0 cont_input"><input type="text" class="txt_box_perfil" required></td>
                </tr>
                <tr class="cont_campos">
                    <td class="cont_identificador border-0"><span class="txt_perfil">Correo</span></td>
                    <td class="border-0 cont_input"><input type="email" class="txt_box_perfil" required></td>
                </tr>
                <tr class="cont_campos">
                    <td class="cont_identificador border-0"><span class="txt_perfil">Contacto</span></td>
                    <td class="border-0 cont_input"><input type="tel" class="txt_box_perfil" required></td>
                </tr>
            </tbody>
        </table>



    </div>
</div>

<script src="{% static 'core/js/rendered-js.js' %}"></script>


{% endblock %}