{% extends 'core/base.html' %}
{% load static %}
{% block contenido%}

<div class="contenedor_perfil">

    <div class="cont_uno">

        <input type="file">

        <div class="cont_boton">
            <button type="submit" id="btn_eliminar_cuenta"><i class="fa-solid fa-trash-can mr-2"></i>Eliminar
                cuenta</button>
        </div>


    </div>
    <div class="cont_dos">
        <div class="cont_titulo">
            <span>PERFIL DE USUARIO</span>
        </div>
        <table class="table table-borderless cont_datos">
            <tbody>
                <tr class="cont_subtitulo">
                    <td class="border-0"></td>
                    <td class="border-0"><span class="txt_subtitulo">Información básica</span></td>
                </tr>
                <tr class="cont_campos border-0">
                    <td class="cont_identificador border-0"><span class="txt_perfil">Nombre</span></td>
                    <td class="border-0"><input type="text" class="txt_box_perfil" required></td>
                </tr>
                <tr class="cont_campos">
                    <td class="cont_identificador border-0"><span class="txt_perfil">Apellido</span></td>
                    <td class="border-0"><input type="text" class="txt_box_perfil" required></td>
                </tr>
                <tr class="cont_campos">
                    <td class="cont_identificador border-0"><span class="txt_perfil">Correo</span></td>
                    <td class="border-0"><input type="email" class="txt_box_perfil" required></td>
                </tr>
                <tr class="cont_campos">
                    <td class="cont_identificador border-0"><span class="txt_perfil">Contacto</span></td>
                    <td class="border-0"><input type="tel" class="txt_box_perfil" required></td>
                </tr>

            </tbody>
        </table>



    </div>
</div>

{% endblock %}