{% extends 'core/base.html' %}
{% block contenido %}


<div class="container-cursos">
    <div class="row rowcursos">
        {% for c in cur %}
                <div class="card my-3 ">
                    <img class="card-img-top" src="{{ c.image.url }}" height="450px" width="500px" ="Card image cap">
                    <div class="card-body text-center">
                        <p class="card-title">{{ c.titulo }}</p>
                        <a href="{% url 'informacion_curso' c.id %}" class="btn btn-primary-cursos">
                            <i class="fa-solid fa-circle-plus"></i> Información
                        </a>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
