{% extends 'core/base.html' %}

{% block contenido %}

<div class="pagina-inicio">
    <div class="fondo">
        <h1>Trabajo social clínico</h1>
        <h5>Aprende, practica y avanza en tu desarrollo profesional</h5>
        <div class="descripcion">
            <p>La adquisición de conocimientos es clave en cualquier disciplina y la formación práctica es la que menos se presta.
            Así, desde T-Social | Med, queremos acompañarte en el aprendizaje a través de casos y formación práctica.</p>
        </div>

        <!-- Botón de inscripción -->
        <a href="/inscripcion/" class="btn btn-inscripcion">Registrarse</a>
    </div>
</div>
{% endblock %}