{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
<div >
    <div class="fondo-inicio">
        <img src="{% static 'core/img/fondo_inicio.jpg' %}" alt="Imagen inicio" class="img-fluid fondo-imagen">
    </div>
    <div class="texto-inicio">
        <h1>Trabajo social clínico</h1>
        <h5>Aprende, practica y avanza en tu desarrollo profesional</h5>
        <div class="descripcion">
            <p>La adquisición de conocimientos es clave en cualquier disciplina y la formación práctica es la que menos se presta.
            Así, desde T-Social | Med, queremos acompañarte en el aprendizaje a través de casos y formación práctica.</p>
        </div>
       
        {% if not usuario_autenticado %}
        <a href="/form_registro/" id="botoncito" class="btn btn-inscripcion">Registrarse</a>
        {% endif %}
    </div>
</div>
{% endblock %}