{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="{% static 'core/img/gestion.png' %}" alt="..." style="width: 110%; margin-left: -10%;border-radius:59% 41% 39% 61% / 61% 50% 50% 39%;"/>
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder" style="font-size: 2rem;text-align: right;">{{ object }}</h1>
                
                <div class="capsula" onclick="toggleDesplegable('capsula1')" style="margin-bottom: 10px;border-radius: 10px;text-align: right;border: 1px solid #F1862A;padding: 10px;width: 100%;cursor: pointer;">
                    PRESENTACIÓN DEL CURSO
                    <div class="contenido-desplegable" id="capsula1" style="display: none;text-align: left;">
                      <p>{{object.presentacion}}</p>
                    </div>
                </div>

                <div class="capsula" onclick="toggleDesplegable('capsula2')" style="margin-bottom: 10px;border-radius: 10px;text-align: right;border: 1px solid #F1862A;padding: 10px;width: 100%;cursor: pointer;">
                    COMPETENCIAS QUE VAS A ADQUIRIR
                    <div class="contenido-desplegable" id="capsula2" style="display: none;text-align: left;">
                      <p>
                        {{object.competencias}}
                    </div>
                </div>

                <div class="capsula" onclick="toggleDesplegable('capsula3')" style="margin-bottom: 10px;border-radius: 10px;text-align: right;border: 1px solid #F1862A;padding: 10px;width: 100%;cursor: pointer;">
                    OBJETIVOS
                    <div class="contenido-desplegable" id="capsula3" style="display: none;text-align: left;">
                        <p>
                            {{object.objetivos}}
                        </p>
                    </div>
                </div>

                <div class="capsula" onclick="toggleDesplegable('capsula4')" style="margin-bottom: 10px;border-radius: 10px;text-align: right;border: 1px solid #F1862A;padding: 10px;width: 100%;cursor: pointer;">
                    DIRIGIDO A
                    <div class="contenido-desplegable" id="capsula4" style="display: none;text-align: left;">
                      <p>{{object.dirigido}}</p>
                    </div>
                </div>

                <div class="capsula" onclick="toggleDesplegable('capsula5')" style="margin-bottom: 10px;border-radius: 10px;text-align: right;border: 1px solid #F1862A;padding: 10px;width: 100%;cursor: pointer;">
                    MODALIDAD, DURACIÓN Y PRECIO
                    <div class="contenido-desplegable" id="capsula5" style="display: none;text-align: left;">
                        <p>
                            <li>
                                {{object.mod_dur_valor}}
                            </li>
                        </p>                    
                    </div>
                </div>

                <div class="d-flex" style="text-align: right;">
                    <a href="/confirmacion_curso?valor={{object.id}}">
                        <button class="btn btn-outline-dark flex-shrink-0" type="button"  >
                            INSCRIBIRME
                        </button>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="comment-title cod-md-6">        
        <h1 class="display-5 fw-bolder">COMENTARIOS</h1>
    </div>
    <div class="container mt-5">

        <div class="row">
            <div class="col-md-8 mx-auto">
        
                <div class="cards">
                    <div class="card-body informacion-curso">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="card-title mb-0 calificacion-title">Calificar</h5>
        
                            <div class="d-flex align-items-center stars">
                                <i class="fas fa-star mr-1 text-warning mr-1"></i>
                                <i class="fas fa-star mr-1 text-warning mr-1"></i>
                                <i class="fas fa-star mr-1 text-warning mr-1"></i>
                                <i class="fas fa-star mr-1 text-warning mr-1"></i>
                                <i class="fas fa-star text-warning" ></i>
                            </div>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="publicarNombre">
                            <label class="form-check-label" for="publicarNombre">
                                ¿Desea publicar su nombre?
                            </label>
                        </div>

                        <div class="form-group mt-2">
                            <textarea class="form-control custom-textarea" id="comentario" rows="3" maxlength="150" placeholder="Ingrese su comentario..."></textarea>
                            <small class="text-muted" id="contadorCaracteres">0/150</small>
                        </div>

                        <button class="btn btn-primary custom-btn" href="" onclick="publicarComentario()">
                            PUBLICAR
                        </button>        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
        
                <div class="cards">
                    <div class="card-body informacion-curso">            
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="card-title mb-0 calificacion-title">Calificación</h5>
        
                            <div class="d-flex align-items-center stars">
                                <i class="fas fa-star mr-1 text-warning mr-1" data-rating="1"></i>
                                <i class="fas fa-star mr-1 text-warning mr-1" data-rating="2"></i>
                                <i class="fas fa-star mr-1 text-warning mr-1" data-rating="3"></i>
                                <i class="fas fa-star mr-1 text-warning mr-1" data-rating="4"></i>
                                <i class="fas fa-star text-warning" data-rating="5" ></i>
                            </div>
                        </div>

                        <div class="published_by">
                            <p>Publicado por:</p>
                        </div>

                        <div class="form-group mt-2">
                            <textarea class="form-control" id="comentario" rows="3" maxlength="150" placeholder="Ingrese su comentario..."></textarea>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
        
                <div class="cards">
                    <div class="card-body informacion-curso">            
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="card-title mb-0 calificacion-title">Calificación</h5>
        
                            <div class="d-flex align-items-center stars">
                                <i class="fas fa-star mr-1 text-warning mr-1"></i>
                                <i class="fas fa-star mr-1 text-warning mr-1"></i>
                                <i class="fas fa-star mr-1 text-warning mr-1"></i>
                                <i class="fas fa-star mr-1 text-warning mr-1"></i>
                                <i class="fas fa-star text-warning" ></i>
                            </div>
                        </div>

                        <div class="published_by">
                            <p>Publicado por:</p>
                        </div>

                        <div class="form-group mt-2">
                            <textarea class="form-control" id="comentario" rows="3" maxlength="150" placeholder="Ingrese su comentario..."></textarea>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<div class="d-flex justify-content-center mt-3">
    <a href="/" class="btn btn-outline-dark volver-info-curso-btn">
        <i class="fas fa-arrow-left mr-1"></i>VOLVER
    </a>
</div>

<script src="{% static 'core/js/informacion_curso.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}