{% extends 'core/base.html' %}
{% load static %}

{% block contenido%}

<div class="forgotPassword">
    <div class="forgotPassword-screen">
        <div>
            <div class="contact-form-wrapper d-flex justify-content-center">
                <!-- <form action="#" class="contact-form"> -->
                <form action="{% url 'olvidar_contrasena' %}" method="post" class="contact-form">
                    {% csrf_token %}
                    <div class="contenedor_contacto">
                        <div class="contenedor_logo">
                            <img src="{% static 'core/img/logo.png' %}" class="img-fluid img_logo_is" alt="logo">
                        </div>
                        
                        <div class="contenedor_txt_contrasena">
                            <span class="olvidaste_contrasena_txt">
                                <h1>¿OLVIDASTE TU CONTRASEÑA?</h1>
                            </span>
                        </div>

                        <div class="correo__container">
                            <i class="fa-solid fa-envelope fa-2xl" style="color: #f1862a;"></i>
                            <!-- <i class="fa-solid fa-envelope fa-2xl icon_is"></i> -->
                            <input name="ingCorreo" type="text" class="txt_box input_is" id="name" placeholder="Ingresa tu correo electrónico" required>
                        </div>
                    
                        <div class="contenedor_boton">
                            <input type="submit" value="ENVIAR" class="btn_ingresar">
                        </div>

                        <div class="space_password">
                            <p> </p>
                        </div>

                        <div class="volver-inicio contenedor-volver">
                            <a href="/" class="volver">
                                <span>
                                    <img src="{% static 'core/img/flecha_volver.png' %}" alt="Flecha Volver" class="flecha_volver">
                                    Volver al Inicio
                                </span>
                            </a>
                        </div>
                        

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


