@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');
@import url('https://fonts.cdnfonts.com/css/montserrat');

:root {
    --verde-principal: #146448;
    --verde-footer: #4E7B6B;
    --negro: black;
    --naranja_principal: #F1862A;
    --blanco: white;
    --gris: #7F8C8D;
    --navbar: #F4F0F0;
}

/*-- NAV BAR --*/

.img_logo {
    width: 90px;
    height: 50px;
    margin: 0;
}

.icon_user {
    color: var(--naranja_principal);
}

.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.link-nav {
    margin-left: 40px;
    font-family: 'Glacial Indifference', sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: var(--primario-green);
}

#mainNav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--navbar);
}

.sub_menu {
    background-color: var(--navbar);
    width: 150px !important;
}

/*-- FIN NAV BAR --*/


/*-- FOOTER --*/

footer {
    background-color: var(--verde-footer);

}

.texto_footer {
    color: var(--blanco);
    font-family: 'Montserrat', sans-serif;
}

.img_rrss {
    width: 30px;
    height: 30px;
}

/*-- FIN FOOTER --*/


/*-- BARRA DE BUSQUEDA --*/
.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.barra_busqueda {
    width: 400px;
    padding-right: 10px !important;
}

.color_lupa {
    color: var(--naranja_principal)
}

#button-addon2:hover {
    color: var(--primario-green);
}

/*-- FIN BARRA DE BUSQUEDA --*/


/*-- FORMULARIO INICIO DE SESION --*/

input {
    text-align: left;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 200;
    padding: 8px 0;
    width: 250px;
    transition: border .5s;
}

.img_logo_is {
    width: 120px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center;
}

.contenedor_logo {
    text-align: center;
}

.contenedor_contacto {
    max-width: 500px;
}

.contact-form-wrapper {
    padding: 50px 0;
}

.contact-form {
    padding: 30px 40px;
    border: 2px solid var(--verde-principal);
    border-radius: 25px;
    max-width: 800px;
    display: flex;
    flex-direction: row;
}

.txt_box {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--verde-principal);
    padding-left: 5px;
}

.btn_ingresar {
    background-color: var(--naranja_principal);
    border-radius: 25px;
    text-align: center;
    color: var(--blanco);
    font-weight: bold;
    width: 150px;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 15px;
}

.contenedor_boton {
    text-align: center;
}

.icon_is {
    width: 20px;
    height: 22px;
    color: var(--naranja_principal);
}

.txt_is {
    font-size: 12px;
    color: var(--gris);
    font-family: 'Montserrat', sans-serif;
}

.contendor_txt_sub {
    text-align: center;
    margin-top: 10px;

}

.contendor_link_sub {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

/*-- FIN FORMULARIO INICIO DE SESION --*/


/*-- PERFIL DE USUARIO --*/

.contenedor_perfil {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin: 30px;
}

.cont_uno {
    border: 2px solid var(--naranja_principal);
    border-radius: 25px;
    width: 180px;
    height: 450px;
}

.cont_boton {
    display: flex;
    align-items: flex-end;

}

.cont_dos {
    border: 2px solid var(--naranja_principal);
    border-radius: 25px;
    width: 500px;
    height: 450px;
}

.cont_titulo {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: var(--verde-principal);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.txt_subtitulo {
    color: var(--naranja_principal);
    font-weight: bold;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 18px;
}

.cont_subtitulo {
    margin-top: 30px;
}

.cont_identificador {
    vertical-align: middle !important;
}

.txt_perfil {
    font-size: 15px;
    margin-right: 10px;
    font-family: 'Glacial Indifference', sans-serif;
}

.txt_box_perfil {
    border: 1.4px solid var(--verde-principal);
    border-radius: 30px;
    width: 300px;
    padding-left: 10px;
}

.cont_datos {
    margin-left: 40px;
    margin-top: 30px;
}

.cont_campos {
    margin-bottom: 10px;
}


#btn_eliminar_cuenta {
    background-color: var(--naranja_principal);
    border-radius: 25px;
    text-align: center;
    color: var(--blanco);
    width: 150px;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 15px;
    border-color: var(--naranja_principal);
}

/*-- FIN PERFIL DE USUARIO --*/