@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');
@import url('https://fonts.cdnfonts.com/css/montserrat');

:root {
    --verde-principal: #146448;
    --verde-footer: #4E7B6B;
    --negro: black;
    --naranja_principal: #F1862A;
    --blanco: white;
    --gris: #7F8C8D;
    --navbar: #F4F0F0;
}

/*-- NAV BAR --*/

.img_logo {
    width: 90px;
    height: 50px;
    margin: 0;
}

.icon_user {
    color: var(--naranja_principal);
}

.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.link-nav {
    margin-left: 40px;
    font-family: 'Glacial Indifference', sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: var(--primario-green);
}

#mainNav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--navbar);
}

.sub_menu {
    background-color: var(--navbar);
    width: 150px !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}


/*-- FIN NAV BAR --*/



/* INICIO BTN INICIO SESION NAVBAR */

.user-button {
    margin-left: 20px;
    text-decoration: none !important;
}

.rounded-button {
    border-radius: 20px;
    background-color: var(--naranja_principal);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none !important;
}

.user-icon {
    margin-right: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    text-decoration: none !important;
}

.img_usuario {
    width: 30px;
    height: 30px;
    text-decoration: none !important;
}

.text-inicio-sesion {
    color: #fff;
    font-size: 15px;
    text-decoration: none !important;
    vertical-align: middle;
    margin-bottom: 0;
}

/* FIN INICIO BTN INICIO SESION NAVBAR */

/*-- FOOTER --*/

footer {
    background-color: var(--verde-footer);

}

.texto_footer {
    color: var(--blanco);
    font-family: 'Montserrat', sans-serif;
}

.img_rrss {
    width: 30px;
    height: 30px;
}

/*-- FIN FOOTER --*/


/*-- BARRA DE BUSQUEDA --*/
.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.barra_busqueda {
    width: 400px;
    padding-right: 10px !important;
    border-radius: 25px !important;
}

.color_lupa {
    color: var(--naranja_principal)
}

#button-addon2:hover {
    color: var(--primario-green);
}

/*-- FIN BARRA DE BUSQUEDA --*/


/*-- FORMULARIO INICIO DE SESION --*/

.input_is {
    text-align: left;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 200;
    padding: 8px 0;
    width: 250px;
    transition: border .5s;
}

.img_logo_is {
    width: 120px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center;
}

.contenedor_logo {
    text-align: center;
}

.contenedor_contacto {
    max-width: 500px;
    margin-bottom: 30px;
}

.contact-form-wrapper {
    padding: 0;
}

.contact-form {
    padding: 30px 40px;
    border: 2px solid var(--verde-principal);
    border-radius: 25px;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    height: 470px;
    margin-top: 40px;
}

.txt_box {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--verde-principal);
    padding-left: 5px;
    text-align: left;
    font-size: 15px;
    font-weight: 200;
    width: 250px;


}

.btn_ingresar {
    background-color: var(--naranja_principal);
    border-radius: 25px;
    text-align: center;
    color: var(--blanco);
    font-weight: bold;
    width: 140px;
    height: 40px;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 15px;
    border: transparent;
}

.contenedor_boton {
    text-align: center;
}

.icon_is {
    width: 20px;
    height: 22px;
    color: var(--naranja_principal);
}

.txt_is {
    font-size: 12px;
    color: var(--gris);
    font-family: 'Montserrat', sans-serif;
}

.contendor_txt_sub {
    text-align: center;
    margin-top: 10px;

}

.contendor_link_sub {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.contenedor_contrasena_olvidada {
    text-align: center;
    font-weight: 400;
    margin-top: 10%;
}

.contenedor_contrasena_olvidada:hover {
    color: #737373;
    border-bottom: 0em solid #737373;
}

/*-- FIN FORMULARIO INICIO DE SESION --*/


/*-- PERFIL DE USUARIO --*/

.float2 {
    float: right;
}

.text-center2 {
    text-align: center;
}

.contenedor_perfil {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin: 30px;
}

.btn_subir_foto {
    width: 20px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 40px;
}

.cont_uno {
    border: 2px solid var(--naranja_principal);
    border-radius: 25px;
    width: 250px;
    height: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
}



.cont_boton {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.cont_dos {
    border: 2px solid var(--naranja_principal);
    border-radius: 25px;
    width: 500px;
    height: 450px;
}


.cont_titulo {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: var(--verde-principal);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.txt_subtitulo {
    color: var(--naranja_principal);
    font-weight: bold;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 18px;
}

.cont_subtitulo {
    margin-top: 30px;
}

.cont_identificador {
    vertical-align: middle !important;
    padding-right: 0 !important;
    width: 10px;
}

.con_input {
    padding-left: 0 ipo !important;
}

.txt_perfil {
    font-size: 15px;
    font-family: 'Glacial Indifference', sans-serif;
    padding: 0;
}

.txt_box_perfil {
    border: 1.4px solid var(--verde-principal);
    border-radius: 30px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

.cont_input {
    padding-left: 0px;
    padding-bottom: 5px;

}

.cont_datos {
    margin-left: 40px;
    margin-top: 30px;
}

.cont_campos {
    margin-bottom: 10px;
}

#btn_eliminar_cuenta {
    background-color: var(--naranja_principal);
    border-radius: 25px;
    text-align: center;
    color: var(--blanco);
    width: 150px;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 15px;
    border: transparent;
    height: 35px;
    margin-bottom: 20px;
}

.foto_perfil {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.btn_upload {
    width: 180px;
    height: 50px;
    font-size: 10px;
}

.btn_modificar {
    color: var(--naranja_principal);
    width: 30px;
    height: 30px;
    text-align: center;
}


@media only screen and (max-width: 768px) {

    .cont_uno {

        width: 100% !important;
        height: 100% !important;

    }

    .txt_box_perfil {
        width: 100% !important;

    }

    .float2 {
        float: left;
    }

    .text-center2 {
        text-align: left !important;
    }

    .cont_dos {
        width: 100% !important;
        height: 100%;

    }

}

/* Global style */
.btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 40px;
    width: 80%;
    margin: auto;
    display: block;
    border: 2px solid #555;
}

.btn-tertiary:hover, .btn-tertiary:focus {
    color: #888888;
    border-color: #888888;
}

/* input file style */
.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file+.js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;
}

.input-file+.js-labelFile .icon:before {
    content: "";
}

.input-file+.js-labelFile.has-file .icon:before {
    content: "";
    color: #5aac7b;
}


/*-- FIN PERFIL DE USUARIO --*/


/*** INICIO CSS OLVIDAR_CONTRASENA***/
/**/

.body-forgot-password {
    background: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.olvidaste_contrasena_txt h1 {
    font-size: 1.275rem;
    text-align: center;
    padding: 1rem;
    margin: auto;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 3%;
}

.container__logo {
    width: 40%;
    max-width: 100%;
    max-height: 30vh;
    margin: auto;
    margin-top: 2.5em;
}

.container__prime {
    width: 66vh;
    height: 81vh;
    padding: 0.5em;
    background: hsl(0, 0%, 100%);
    border-radius: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--verde-principal);
    margin: auto;
    margin-top: 5.5em;
    margin-bottom: 1.25em;
    margin-left: 35.57%;
}

/* CONTAINER INGRESAR CORREO */

.correo {
    width: 100%;
    padding: 0.75em;
    outline: none;
    border: 1px solid var(--verde-principal);
    border-radius: 0.75em;
    margin-top: -5%;
}

.correo__container input {
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-top: -10%;
    width: 85%;
}

.form__correo {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: -2%;
    margin-bottom: 8%;
}

.carta-icon {
    width: 10%;
    margin-left: 0.4em;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BOTÓN ENVIAR */

.myButton {
    background-color: var(--naranja_principal);
    border-radius: 2.3em;
    display: inline-block;
    cursor: pointer;
    color: var(--blanco);
    font-size: 1.1em;
    padding: 0.75em 3.75em 0.5em;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
    border: none;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 100%;
}

.myButton:hover {
    background-color: var(--verde-principal);
}

.myButton:active {
    position: relative;
    top: 1px;
}

.btn_ingresar {
    margin-top: 5%;
}

.btn_ingresar:hover {
    background-color: var(--verde-principal);
}

/* BOTÓN VOLVER */

.contenedor-volver a {
    text-decoration: none;
    color: var(--gris);
    cursor: pointer;
    background-position: left center;
    background-size: 1.1em 1.1em;
    margin-top: 10%;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: normal;
}

.flecha_volver {
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 32%;
    padding: 0.5%;
}

.contenedor-volver span:hover .volver,
.contenedor-volver span:hover .flecha_volver {
    text-decoration: underline;
    color: var(--gris);
    cursor: pointer;
}

.volver:hover, .flecha_volver:hover {
    text-decoration: underline;
}

.space_password {
    padding: 10%;
}

/* FIN BOTÓN VOLVER */

/**/
/*** FIN CSS OLVIDAR_CONTRASENA***/

/* INICIO CSS INFORMACION_CURSO */

.col-md-6 {
    font-family: 'League Spartan', sans-serif;
    color: var(--verde-principal);
}

.capsula {
    border: 2px solid var(--naranja_principal);
    background-color: var(--blanco);
    color: var(--negro);
    transition: all 0.3s;
    /* border: 2px solid #ff1919; NO CAMBIA DE COLOR EL BORDE */
}

.capsula p, li {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

.btn-outline-dark {
    background-color: var(--naranja_principal);
    color: var(--blanco);
    border-color: var(--naranja_principal);
}

.btn-outline-dark:hover {
    background-color: var(--verde-principal);
}

.capsula:hover {
    background-color: var(--naranja_principal);
    color: var(--blanco);
}

.contenido-desplegable {
    display: none;
}

/* FIN CSS INFORMACION_CURSO */

/*               DOCENTES              */

/*DOCENTE GEMA*/

/* CONTENEDORES PRINCIPALES */
.containerG {
    display: flex;
    width: 100%;
    padding: 1rem;
}

.containerA {
    margin-top: 70px;
    display: flex;
    width: 100%;
}

/* sección 2 del contenedor A */
.section-A {
    margin-bottom: 20px;
}

/* contenedor izquierdo */
.left-g {
    flex: 0 0 40%;
    padding: 20px;
    text-align: center;
}

.left-A {
    flex: 1;
    padding: 20px;
    position: relative;
    margin-left: 30px;
}

/* contenedor derecho*/
.right-g {
    flex: 1;
    padding: 30px;
    margin-left: 10px;
}

.right-A {
    flex: 0 0 40%;
    padding: 20px;
    text-align: center;
}

/* imagen*/
.profile-image-G {
    width: 75%;
    height: 400px;
    border-radius: 60% 40% 52% 48% / 65% 57% 43% 35%;
    margin-top: 60px;
}

.profile-image-A {
    width: 75%;
    height: 400px;
    border-radius: 37% 63% 52% 48% / 65% 57% 43% 35%;
    margin-top: 60px;
}

/*enlace LinkedIn */
.linkedin-link {
    text-decoration: none;
    color: #006699;
    font-weight: bold;
}

.linkedin-link img {
    width: 30px;
    height: auto;
}

/* TITULOS */

.titulo_docente {
    font-size: 1.5rem;
    color: #000000;
    font-family: 'League Spartan', sans-serif;
}

.titulo_nombre {
    font-size: 2.5rem;
    color: #F1862A;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
}

.titulo_fundadora {
    font-size: 1.2rem;
    color: #000000;
    font-family: 'League Spartan', sans-serif;
}

.titulo_sobre_mi {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.4rem;
    margin-top: 40px;
    color: #146448;
    font-weight: bold;
}

/*      ****     TEXTOS     ****      */
.texto_1_docente {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 70px 15px 0px;
    text-align: justify;
}

.texto_2_docente {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 30px 10px 0px;
    text-align: justify;
}

.section-A1 .texto_1_docente {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 130px 15px 0px;
    text-align: justify;
}
.section-A .texto_2_docente {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.texto_frase {
    margin-top: 20px;
    font-style: italic;
    text-align: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.right-A .texto_frase {
    margin-top: 20px;
    font-style: italic;
    text-align: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;

}

/* FIN CSS DOCENTES */

/* IINICIO REGISTRO */

/* CONTENEDOR FORM_REGISTER */

.container__logo {
    width: 150px;
    height: auto;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 20px;
}

.container__prime {
    width: 30%;
    height: auto;
    padding: 20px;
    background: hsl(0, 0%, 100%);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #1C8962;
    margin: auto;
    margin-top: 7%;
}

.form__register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 10px;
}

.carta-icon {
    width: 29px;
    height: auto;
    margin-right: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CONTAINER CLASS FORM_REGISTER */
.form__register .correo {
    width: 310px;
    padding: 10px;
    outline: none;
    border: 1px solid #1C8962;
    border-radius: 10px;
    height: auto;
    color: #A6A6A6;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: bold;
}

.form__register .text {
    width: 310px;
    padding: 10px;
    outline: none;
    border: 1px solid #1C8962;
    border-radius: 10px;
    color: #A6A6A6;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: bold;
}

.form__register .number {
    width: 310px;
    padding: 10px;
    outline: none;
    border: 1px solid #1C8962;
    border-radius: 10px;
    color: #A6A6A6;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: bold;
}

.form__register .password {
    width: 310px;
    padding: 10px;
    outline: none;
    border: 1px solid #1C8962;
    border-radius: 10px;
    color: #A6A6A6;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: bold;
}

.form__register .date {
    width: 310px;
    padding: 10px;
    outline: none;
    border: 1px solid #1C8962;
    border-radius: 10px;
    color: #A6A6A6;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: bold;
}

/* Estilos dropdowns*/
.ciudad-container #provincias {
    width: 310px;
    padding: 10px;
    outline: none;
    border: 1px solid #1C8962;
    border-radius: 10px;
}

#provincias {
    color: #A6A6A6;
    font-weight: bold;
    font-family: 'Glacial Indifference', sans-serif;
}

.ocupacion-container #profesiones {
    width: 310px;
    padding: 10px;
    outline: none;
    border: 1px solid #1C8962;
    border-radius: 10px;
}

#profesiones {
    color: #A6A6A6;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: bold;
}

/* CONTENEDORES FORM_REGISTER */
.user-container {
    display: flex;
    align-items:center;
    margin-right: 0px;
    margin-bottom: 30px;
    
}
.nombre-container {
    display: flex;
    align-items:center;
    margin-right: 0px;
    margin-bottom: 30px;
}
.apellido-container {
    display: flex;
    align-items:center;
    margin-right: 0px;
    margin-bottom: 30px;
}
.nacimiento-container {
    display: flex;
    align-items:center;
    margin-right: 0px;
    margin-bottom: 30px;
}
.contraseña-container {
    display: flex;
    align-items:center;
    margin-right: 0px;
    margin-bottom: 30px;
}

.correo-container {
    display: flex;
    align-items:center;
    margin-right: 0px;
    margin-bottom: 30px;
}

.telefono-container {
    display: flex;
    align-items:center;
    margin-right: 0px;
    margin-bottom: 30px;
}

.ciudad-container {
    display: flex;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 30px;
}

.ocupacion-container {
    display: flex;
    align-items:center;
    margin-right: 0px;
    margin-bottom: 10px;
}

/* Textos FORM_REGISTER */

.container__form p{
    color: #A6A6A6;
    font-size: 11px;
    text-align: left;
    margin-left: 30px;
    
}
.container__form p1{
    color: #A6A6A6;
    font-size: 13px;
    text-align: auto;
    margin: 0.5rem;
    
}
.text_register{
    color: #A6A6A6;
    font-size: 13px;
    margin: 0.2rem;
    text-align: justify;
}

/* BOTÓN ENVIAR */

.myButton {
	background-color:#F1862A;
	border-radius:23px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:10px 60px;
	text-decoration:none;
    font-family: 'League Spartan', sans-serif;
    border: none;
    margin: auto;
    margin-top: 10px;

}
.myButton:hover {
	background-color: #1C8962;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* BOTÓN VOLVER */

.volver {
    text-decoration: none;
    color: #A6A6A6;
    cursor: pointer;
    padding-left: 5px;
    background-position: left center;
    background-size: 16px 16px; 
    border-bottom: 2px solid transparent;
    margin: auto;
    margin-top: 20%;
}

.volver:hover {
    color: #A6A6A6;

}

/* ****** FIN CSS FORM_REGISTER ******* */


/*   FIN FORMULARIO REGISTRO  */



/* INICIO CSS COMENTARIOS */

/* FIN CSS COMENTARIOS */


/* INICIO CSS COMENTARIOS */

/* INICIO CURSOS */
.container-cursos {
    justify-content: space-around;
    margin: 0 auto; 
    max-width: 1200px; 
    padding-top: 5rem;
    align-items: center;
}

.container-cursos .card {
    border: 2px solid var(--naranja_principal);
    border-radius: 15px;
    width: 250px; 
    margin: 15px; 
}

.container-cursos .card-img-top {
    max-width: 100%;
    height: auto;
    border-radius: 25px; 
    padding: 15px;
}

.card-body .card-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.container-cursos .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

.btn-primary-cursos {
    color: #ffffff;
    background-color: var(--naranja_principal);
    border-color: var(--naranja_principal);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px; /* Espaciado superior */
    border-radius: 10px;
}

.btn-primary-cursos:hover {
    background-color: var(--verde-principal);
    color: #ffffff;
}
/* FIN CURSOS */





/* INICIO CONTACTO */
.contenedor-flex {
    display: flex;
    padding: 90px;
    justify-content: space-around;
    padding-top: 11.5rem;
}

  
#container-contacto {
    background-color: #ffffff;
    padding: 30px;
}
  
#container-contacto h1 {
    color: var(--naranja_principal);
    font-weight: bold;
    text-transform: uppercase;
}
  
#container-secundario-contacto {
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-right: 80px;
}

.btnContact {
    background-color: var(--naranja_principal);
    color: var(--navbar);
    color: #ffffff;
    margin-left: auto; 
    border: none;
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: bold;
}
  
.form-group {
    margin-bottom: 1rem;
    width: 350px;
}
  
#container-secundario-contacto input[type="text"],
#container-secundario-contacto textarea {
    border-color: var(--verde-principal);
    border-width: 2px;
    border-radius: 15px;
    padding: 8px;
}
/* FIN PAGINA DE CONTACTO */




/*-- CONTENIDO DE INICIO --*/
.fondo-inicio{
    height: 150vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    margin-top: 68px;
    position: relative;
    filter: blur(5px);

}

.texto-inicio {
    text-align: right;
    position: absolute;
    right: 50px;
    margin-top: -850px;
}

.texto-inicio h1 {
    font-size: 60px;
    font-family: 'Glacial Indifference', sans-serif;
    color: var(--naranja_principal);
    text-transform: uppercase;
    font-weight: bold;
}

.texto-inicio h5 {
    font-size: 24px;
    color: var(--verde-principal);
    font-family: 'Glacial Indifference', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.descripcion {
    text-align: left;
    color: var(--texto-primario);
    max-width: 680px;
    margin-left: 140px;
    text-align: justify;
}

.btn-inscripcion {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--naranja_principal);
    color: var(--navbar);
    text-decoration: none;
    border-radius: 25px;
    text-transform: uppercase;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: bold;
}

.btn-inscripcion:hover {
    background-color: var(--verde-principal);
    color: var(--navbar);
}
/* FIN PAGINA DE INICIO */


