{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
    <h2>Eliminar Cuenta</h2>
    <p>¿Estás seguro de que deseas eliminar tu cuenta?</p>
    <form method="post" action="{% url 'eliminar_cuenta' %}">
        {% csrf_token %}
        <!-- Resto del formulario aquí -->
        <button type="submit" class="rounded-button orange-button" id="btn_eliminar_cuenta">
            <i class="fa-solid fa-trash-can mr-2 btnEliminarCuenta"></i>
            <p class="text-inicio-sesion">Eliminar cuenta</p>
        </button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% endblock %}