{% extends 'core/base.html' %}
{% load static %}
{% block contenido%}
<div class="container__prime_">
    <img src="{% static 'core/img/logo.png' %}" class="img_logo_is" alt="logo">
    <div class="container__form">
        <form action="{% url 'users:signup'%}" class="form" method="POST" onsubmit="return validarFormulario()">
            {% csrf_token %}
            <div class="form__register">

                <div class="nombre-container">
                    <i class="fa-solid fa-user icon_is"></i>
                    <input type="text" name="{{ signupForm.nombre.name }}" placeholder="Ingrese nombre" class="text" required>
                </div>

                <div class="apellido-container">
                    <i class="fa-solid fa-user icon_is"></i>
                    <input type="text" name="{{ signupForm.apellido.name }}" placeholder="Ingrese apellido" class="text" required>
                </div>

                <div class="nacimiento-container">
                    <i class="fa-solid fa-calendar icon_is"></i>
                    <input type="date" name="{{ signupForm.fecha_nacimiento.name }}"  class="date" required>
                </div>

                <div class="correo-container">
                    <i class="fa-solid fa-envelope icon_is"></i>
                    <input type="email" name="{{ signupForm.email.name }}" placeholder="Ingrese correo electrónico" class="correo" required>
                </div>

                <div class="contraseña-container">
                    <i class="fa-solid fa-lock icon_is"></i>
                    <input type="password" name="{{ signupForm.password.name }}" placeholder="Ingrese contraseña" class="password" required>
                </div>

                <div class="contraseña-container">
                    <i class="fa-solid fa-lock icon_is"></i>
                    <input type="password" name="{{ signupForm.password2.name }}" placeholder="Confirmar contraseña" class="password" required>
                </div>

                <div class="telefono-container">
                    <i class="fa-solid fa-phone icon_is" ></i>
                    <input type="number" name="{{ signupForm.telefono.name }}" placeholder="Ingrese número de teléfono" class="number" required>
                </div>

                <div class="nacionalidad-container">
                    <i class="fa-solid fa-location-dot icon_is"></i>
                    {{ signupForm.nacionalidad }}
                </div>

                <div class="ciudad-container" id="divCiudad">
                    <i class="fa-solid fa-location-dot icon_is"></i>
                    <select name="{{ signupForm.ciudad.name }}" id="ciudad">
                        <option value="" selected>Seleccione su provincia</option>
                        {% for provincia in provincias_data %}
                        <option value="{{ provincia.value }}">{{ provincia.label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="ocupacion-container" id="divOcupacion">
                    <i class="fa-solid fa-briefcase icon_is"></i>
                    <select name="{{ signupForm.ocupacion.name }}" id="profesiones" required>
                        <option value="" disabled selected>Seleccione su ocupación</option>
                        {% for ocupacion in ocupaciones_data %}
                        <option value="{{ ocupacion.value }}">{{ ocupacion.label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-check onlinecheckbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <a data-bs-toggle="modal" data-bs-target="#tycModal">
                    <label class="form-check-label" for="flexCheckDefault">
                      He leído y acepto los <a> términos y condiciones.</a>
                    </label>
                </div>
                <p class="text_register">Al registrarme acepto que T-Social Med trate mis datos personales para la gestión de la inscripción, así como enviarme información relativa a la misma y cualquier otro relacionado con acciones formativas de mi interés.</p>
                <button  class="myButton_registro">REGISTRARSE</button>            

                <p1>¿Ya estás registrado?<a class="volver" href="{% url 'users:inicio_sesion' %}">Iniciar sesión</a></p1>                

        </form>
    </div>
</div>
<script src="{% static 'core/js/form_registro.js' %}?v={{var1}}"></script>

{% endblock %}