{% extends 'core/base.html' %}
{% load static %}
{% block contenido%}

<div class="container cont_perfil">
    <div class="row">


        <div class=" col-md-5 col-12 form-group">
            <div class="cont_dos">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cont_titulo">
                            <span>PERFIL DE USUARIO</span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row m-t-40">
                        <div class="col-sm-3 "></div>
                        <div class="col-sm-9 form-group">
                            <span class="txt_subtitulo">Información básica</span>
                        </div>
                    </div>
                   
                    <div class="row form-group">
                        <div class="col-sm-3 col-xs-2 text-center2">
                            <div class=""><span class="txt_perfil">Nombre</span></div>
                        </div>
                        <div class="col-sm-8 col-xs-10">
                            <input type="text" value="{{ request.session.usuarioNombre }}" class="txt_box_perfil" required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-3 col-xs-2 text-center2">
                            <div class=""><span class="txt_perfil">Apellido</span></div>
                        </div>
                        <div class="col-sm-8 col-xs-10">
                            <input type="text" value="{{ request.session.usuarioApellido }}" class="txt_box_perfil" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3 col-xs-2 text-center2">
                            <div class=""><span class="txt_perfil">Correo</span></div>
                        </div>
                        <div class="col-sm-8 col-xs-10">
                            <input type="text" value="{{ request.session.usuarioCorreo }}" class="txt_box_perfil" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3 col-xs-2 text-center2">
                            <div class=""><span class="txt_perfil">Teléfono</span></div>
                        </div>
                        <div class="col-sm-8 col-xs-10">
                            <input type="text" value="{{ request.session.usuarioTelefono }}" class="txt_box_perfil" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3 col-xs-2 text-center2">
                            <div class=""><span class="txt_perfil">Nacionalidad</span></div>
                        </div>
                        <div class="col-sm-8 col-xs-10">
                            <input type="text" value="{{ request.session.usuarioNacionalidad }}" class="txt_box_perfil" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3 col-xs-2 text-center2">
                            <div class=""><span class="txt_perfil">Ciudad</span></div>
                        </div>
                        <div class="col-sm-8 col-xs-10">
                            <input type="text" value="{{ request.session.usuarioCiudad }}" class="txt_box_perfil" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3 col-xs-2 text-center2">
                            <div class=""><span class="txt_perfil">Ocupación</span></div>
                        </div>
                        <div class="col-sm-8 col-xs-10">
                            <input type="text" value="{{ request.session.usuarioOcupacion }}" class="txt_box_perfil" required>
                        </div>
                    </div>

                    <div class="row mt-auto p-b-10">
                        <div class="col-sm-12">
                            <div class="cont_boton">
                                <form method="post" action="/eliminar_cuenta/">
                                    {% csrf_token %}
                                    <button class="rounded-button orange-button" type="button" id="btn_eliminar_cuenta">
                                        <i class="fa-solid fa-trash-can mr-2"></i>
                                        <p class="text-eliminar-cuenta">Eliminar cuenta</p>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script src="{% static 'core/js/rendered-js.js' %}"></script>


{% endblock %}